
/* src/components/EmailModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .modal-overlay.open {
    opacity: 1;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
  }
  
  .modal-content.open {
    transform: scale(1);
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .modal-content p {
    font-size: 1.2em;
    margin: 0;
  }
  
  .modal-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .modal-content a:hover {
    text-decoration: underline;
  }